@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
}

button {
  background-color: #054c68;
  opacity: .9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
  margin: 4px 2px;
  border-radius: 40px;
  border: 2px solid #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.glow-text {
  font-size: 3rem;
  background: linear-gradient(90deg, #ff6ec4, #7873f5, #4ce3ff, #ffde59);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: firework 5s ease infinite;
}

@keyframes firework {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.star-background {
  background-color: rgba(46, 46, 46, 0.5); /* 50% white */
  padding: 40px;
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  clip-path: polygon(0
    50% 0%,
    54% 12%,
    65% 7%,
    58% 17%,
    69% 22%,
    60% 26%,
    70% 35%,
    59% 34%,
    63% 47%,
    50% 40%,
    37% 47%,
    41% 34%,
    30% 35%,
    40% 26%,
    31% 22%,
    42% 17%,
    35% 7%,
    46% 12%,
    50% 0%,
    52% 8%,
    60% 3%,
    55% 11%,
    62% 15%,
    57% 20%,
    65% 25%,
    54% 26%,
    56% 35%,
    50% 30%,
    44% 35%,
    46% 26%
  );
}
